html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.votos {
    margin-top: 20%;
    text-transform: uppercase;
}

/* .vota {
    margin-top:%;
} */


.carousel-item {
    max-height: 400px;
} 

.carousel-item img {
    /* position: relative; */
    top: -300px;
    left: 0;
}


.titulo {
    position: absolute;
    z-index: 9;
    height: 100px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -80px;
    color: white;
    text-align: center;
}

.titulo h1{
    font-size: 3vw;
    font-weight: 800;
}

.titulo span{
    font-size: 1.5vw;
    font-weight: 800;
}




.carousel-foot {
    background-color: rgb(102, 212, 255);
    color: white;
}
.carousel-foot1 {
    background-color: red;
    color: white;
    text-align: center;
}
.carousel-foot2 {
    background-color: purple;
    color: white;
    text-align: center;
}

.carousel-foot1 p, .carousel-foot2 p {
    margin: auto;
}

.carousel-foot p {
    margin-top: 1%;
    margin-left: 0.2%;
    font-size: 0.7rem;
    font-style: italic;
}

.logo-pen {
    position: absolute;
    z-index: 9;
    margin-left: 3%;
    height: 100px;
}



.vota a {
    background-color: white;
    color: rgb(102, 212, 255);
    border-radius: 25px;
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 2px;
}


/* NAVIGATION */


.nav-links {
    position: absolute;
    z-index: 9;
    right: 1%;
    margin-top: 1%;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 1px;
    display: block;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #ffffff;
}


/* Circle */
nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}



/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: rgb(102, 212, 255);
        border-radius: 100%;
    }

    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

.votos, .vota a {
    font-size: 1.5vw;
    margin: 1.5rem;
}
