.nav-links {
    position: absolute;
    z-index: 9;
    right: 1%;
    margin-top: 1%;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    /* font-weight: bold; */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.votos {
    margin-top: 20%;
    text-transform: uppercase;
}

.vota {
    margin-top: 1%;
}


.carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    top: -300px;
    left: 0;
    min-height: 0px;
}

/* .carousel-section {
      position: relative;
  } */

.titulo {
    position: absolute;
    z-index: 9;
    height: 100px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -80px;
    color: white;
    text-align: center;

}

.carousel-foot {
    background-color: rgb(102, 212, 255);
    color: white;
}

.carousel-foot p {
    margin-top: 1%;
    margin-left: 0.2%;
    font-size: 0.7rem;
    font-style: italic;
}

.logo-pen {
    position: absolute;
    z-index: 9;
    margin-left: 3%;
    height: 100px;
}



.vota a {
    background-color: white;
    color: rgb(102, 212, 255);
    border-radius: 30%;
    padding: 1%;
    font-size: 1rem;
    text-decoration: none;
}