html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.votos {
    margin-top: 20%;
    text-transform: uppercase;
}


.carousel-item.a {
    max-height: 400px;
} 

.carousel-item.a img {
    /* position: relative; */
    top: -300px;
    left: 0;
}


.titulo {
    position: absolute;
    z-index: 9;
    height: 100px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -80px;
    color: white;
    text-align: center;
}

.titulo h1{
    font-size: 3vw;
    font-weight: 800;
}

.titulo span{
    font-size: 1.5vw;
    font-weight: 800;
}




.carousel-foot {
    background-color: #66d4ff;
    color: white;
}


.carousel-foot p {
    margin-top: 1%;
    margin-left: 0.2%;
    font-size: 1.5vw;
    font-style: italic;
}

.logo-pen {
    position: absolute;
    z-index: 9;
    margin-left: 3%;
    max-height: 15vw;
}



.vota a {
    background-color: white;
    color: rgb(102, 212, 255);
    border-radius: 25px;
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 2px;
}


/* NAVIGATION */


.nav-links {
    position: absolute;
    z-index: 9;
    right: 1%;
    margin-top: 1%;
    background-color: rgba(128, 128, 128,0.7);
    padding: 0;
    margin-bottom: 0;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    letter-spacing: 1px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-links ul{
    margin: auto;
}

.nav-links li{
    padding: 3px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #ffffff;
}


/* Circle */
nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}



/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: rgb(102, 212, 255);
        border-radius: 100%;
    }

    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

.votos, .vota a {
    font-size: 1.5vw;
    margin: 1.5rem;
}

.amenazas h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 5%;
    margin-bottom: 2%;
    letter-spacing: 0.5vw;
    font-size: 2vw;
}

.amenazas p {
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 5%;
    padding: 0 10%;
}

.imgamenazas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.imgamenazas img {
    width: 31%;
    margin-bottom: 1.75%;

}


.seccion-medio {
    margin: 2%;
    margin-top: 5%;
}

.seccion-medio p {
   font-size: 1.2vw;
   margin-top: 3vw;
    text-align: justify;
}


.seccion-medio .col-text {
    padding-bottom: 10%;
}


.seccion-medio-titulo {
    letter-spacing: 0.5vw;
    font-size: 1.5vw;
}

.seccion-medio-titulo-ul {
    margin-top: 4vw;
    margin-bottom: 3vw;
    font-size: 1.3vw;
}

.seccion-medio-ul {
    list-style-type: none;
    padding-left: 3vw;
}


.seccion-medio-ul li:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-size: 10px;
    background-image: url("public/images/li.png");
    background-repeat: no-repeat;
    margin-right: 5px;
}

.seccion-medio-ul li {
    margin-bottom: 3%;
    font-size: 1.2vw;
    text-align: justify;
}

.seccion-medio-imagen img {
    width: 80%;
    min-height: 100%;
    margin-left: 12%;
}


.seccion-bajo {
    margin-top: 5%;

}

.seccion-bajo .col-sm-12{
    padding: 0;
}

.seccion-bajo li {
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    background-size: 0.5vw;
    position: relative;
    left: 40vw; /*horizontal position */
}

.seccion-bajo li.active{
    background-color:#66d4ff;;
}

.carousel-item.b {
    max-height: 600px;
}

#carouselExampleIndicators li {
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    background-size: 0.5vw;
    position: relative;
    left: 40vw; /*horizontal position */
}

#carouselExampleIndicators li.active{
    background-color:#66d4ff;;
}



@media screen and (max-width: 767px) {
    .seccion-medio .col-text  {
      padding-bottom: 0%;
    }
  }

