@font-face {
    font-family: MyriadProREGULAR;
    src: url(./fonts/MYRIADPRO-REGULAR.OTF);
}



html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.row .carrousel{
height: 44vw;
}

.carousel-item.a {
    max-height: 44vw;
}

.img-arcoiris {
    transform: translateX(-3px) translateY(-5px);
    width: 101% !important;
    height: 46vw;
    min-height: 100%;
}

.titulo-mitre {
    position: relative;
    height: 10vw;
    top: 6vw;
}

.titulo-mitre img {
    height: 6vw;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.carousel-item.a video {
    height: 47vw;
}


.titulo {
    position: absolute;
    z-index: 9;
    height: 5vw;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -10vw;
    color: white;
    text-align: center;
}

.titulo h1 {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 0;
}

.titulo span {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 800;
}

.dropdown-menu {
    background-color: transparent;
    color: white;
    border: none;
    position: relative !important;
    right: 30% !important;
    bottom: 15vh !important;
    transform: translate3d(0px, 0px, 0px) !important;
    left: 0px !important;
}

.list-inline-item a{
    font-family: 'Oswald', sans-serif;
    font-size: .5rem !important;
}
.redes:hover{
    background-color: transparent;
    justify-content: space-between;
}

.red:hover{
    background-color: #F8F9FA;
    color: black;
}

.carousel-foot {
    background-color: #66d4ff;
    color: white;
}


.carousel-foot p {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.8%;
    font-size: 0.75rem;
    font-family: MyriadProREGULAR;
    font-style: italic;
}

.logo-pen {
    position: absolute;
    z-index: 9;
    margin-left: 2%;
    height: 65px;
}

.votos-vota {
    margin-top: 8.5vw;
    position: relative;
    height: 10vw;
}



h3.votos {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    transition: 0.9s;
    bottom: 3vw;
}

h4.vota {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin:0;
}

.vota a {
    border-radius: 10px;
    padding: 1PX 8PX 1PX 8PX;
    background-color: white;
    color:#2bb6ea;
    font-family:  MyriadProREGULAR;
    font-size: 2vw;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}


.vota a:hover {
    color: white;
    background-color:#2bb6ea;
}


.zigzag {
    background-image: url('../images/zigzag.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAVIGATION */

.nav-links {
    position: absolute;
    z-index: 10;
    right: 1%;
    margin-top: 1%;
    /* background-color: rgba(128, 128, 128, 0.7); */
    padding: 0;
    margin-bottom: 0;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    letter-spacing: 1px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

.icon-menu::before {
    color: gainsboro;
    font-size: 1.5rem;
}

.nav-links ul {
    margin: auto;
}

.nav-links li {
    padding: 3px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #ffffff;
}


/* Circle */
nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}



.mapa h1,
.amenazas h1,
.linea-tiempo h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 5%;
    margin-bottom: 1%;
    letter-spacing: 0.5vw;
    font-size: 1.5rem;
}

.mapa p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5%;
    padding: 0 10%;
}

.amenazas p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.tiempo-img {
    width: 140%;
    display: block;
    margin: auto;
    transition: 0.4s;
    margin-bottom: 4vw;
}

.scroll {
    overflow: scroll;
    overflow-y: hidden;

}


.flora-fauna {
    margin-top: 3vw;
    background-color: #66d4ff;
    color: white;
}

.imgamenazas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.imgamenazas .box {
    opacity: 70%;
    transition: 0.5s;
    position: relative;
    padding: 1%;
}

.imgamenazas .imgbox {
    overflow: hidden;
    height: 45vh;
}

.imgamenazas .imgbox img {
    opacity: 70%;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.imgamenazas .box:hover img {
    opacity: 100%;
    transform: scale(1.2);
    z-index: 9;
}

.imgamenazas .box .details {
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 3%;
    right: 10%;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
    max-height: 80%;
}

.imgamenazas .box:hover .details {
    transform: scaleY(1);
}

.imgamenazas .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #ffffff;
}

.imgamenazas .box .details .content h2 {
    left: 50%;
    padding: 0;
    padding-top: 0.1vw;
    font-size: 1.3rem;
    color: #66d4ff;
    max-height: 100%;
}

.imgamenazas .box .details .content p {
    margin: 5px 0 0;
    padding: 0;
    font-size: 0.6rem;
    max-height: 100%;
}


.seccion-medio {
    margin: 2%;
    margin-top: 5%;
}

.seccion-medio p {
    font-size: 1.2rem;
    margin-top: 3vw;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


.seccion-medio .col-text {
    padding-bottom: 10%;
}


.seccion-medio-titulo {
    letter-spacing: 0.5vw;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.seccion-medio-titulo-ul {
    margin-top: 4vw;
    margin-bottom: 3vw;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.seccion-medio-ul {
    list-style-type: none;
    padding-left: 3vw;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


.seccion-medio-ul li:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-size: 10px;
    background-image: url("../images/li.png");
    background-repeat: no-repeat;
    margin-right: 5px;
}

.seccion-medio-ul li {
    margin-bottom: 3%;
    font-size: 1rem;
    text-align: justify;
}

.seccion-medio-imagen img {
    width: 80%;
    min-height: 100%;
    margin-left: 12%;
}


.seccion-bajo {
    margin-top: 5%;

}

.seccion-bajo .col-sm-12 {
    padding: 0;
}

.seccion-bajo li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-size: 0.5vw;
    position: relative;
    left: 45vw;
    opacity: 100;
}

.seccion-bajo li.active {
    background-color: #66d4ff;
    ;
}

.carousel-item.b {
    max-height: 600px;
}

#carouselExampleIndicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: relative;
    left: 50%;
    background-color: white;
    opacity: 100;
    margin: 3px;
}

#carouselExampleIndicators li.active {
    background-color: #66d4ff;
    ;
}

.carousel-indicators {
    width: 95%;
    height: 3vw;
    margin: 0vw 0vw 0vw 5px;
    padding-bottom: 30px;
    left: 50%;
    transform: translateX(-55%);
}



/* Flora Fauna y Arqueologia */


.titulo-especies {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .5rem;
    margin-top: 1rem;
}

.subtitulo-especies {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: .4rem;
} 

.reservorio {
    font-family: 'Lato', sans-serif;
    font-weight: medium;
    font-size: 1rem;
    letter-spacing: .2rem;
}
.parrafos p{
    font-size: .75rem;
    font-family: 'Lato', sans-serif
}
.marinas {
    position: relative;
    bottom: 6vh;
}

.originarios {
    width: 85%;
    position: relative;
    bottom: 15vh;
    left: 45%;
}

.indice-especies {
    font-size:.6rem;
    line-height: .75;
}

.indice-rojo::before {
    font-size: 1.2rem;
    content: "•";
    /* Insert content that looks like bullets */
    color: red;
    /* Or a color you prefer */
}

.indice-naranja::before {
    font-size: 1.2rem;
    content: "•";
    /* Insert content that looks like bullets */
    color: orange;
    /* Or a color you prefer */
}

.indice-verde::before {
    font-size: 1.2rem;
    content: "•";
    /* Insert content that looks like bullets */
    color: green;
    /* Or a color you prefer */
}

.guion {
    font-size: .55rem;
    margin: 0 auto;
    line-height: 1.5;
}

.guion::before {
    font-size: .7rem;
    content: "-";
    /* Insert content that looks like bullets */
    color: white;
    /* Or a color you prefer */
}

.guion-rojo::after {
    font-size: .85rem;
    content: "•";
    /* Insert content that looks like bullets */
    color: red;
    /* Or a color you prefer */
    line-height: 1;
}

.guion-naranja::after {
    font-size: .85rem;
    content: "•";
    /* Insert content that looks like bullets */
    color: orange;
    /* Or a color you prefer */
    line-height: 1;
}

.guion-verde::after {
    font-size: .85rem;
    content: "•";
    /* Insert content that looks like bullets */
    color: green;
    /* Or a color you prefer */
    line-height: 1;
}


@media screen and (max-width: 767px) {
    .seccion-medio .col-text {
        padding-bottom: 0%;
    }
}


/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background:#2bb6ea;
        border-radius: 100%;
    }

    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

/* .dashed{
    display: flex;
    direction: row;
    justify-content: center;
}
 */

.dashed span {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}

.dashed span:before,
.dashed span:after {

    content: "";
    flex-grow: 0.5;
    border-bottom: 5px solid white;
    margin: auto 0px;
    max-width: 100px;
    padding: 0;
}

.nav-footer {
    background-color: rgb(253, 253, 253);
    height: 10vh;

}

.imagen-footer {
    mix-blend-mode: multiply;
}


.footer-links {
    list-style: none;
}

.footer-links a:hover {
    background-color: rgb(91, 199, 241);
    color: white;
    padding: 5px;
    border-radius: 25px;
}

.footer-links a {
    text-decoration: none;
    color: rgb(91, 199, 241);
    text-transform: uppercase;
    transition: 0.1s;
}


.vota-footer a {
    text-decoration: none;
    color: white;
    background-color: rgb(91, 199, 241);
    border-radius: 25px;
    padding: 5px;
    font-size: .8rem;
    transition: 0.5s;
    font-weight: bold;
}

.vota-footer a:hover {
    color: rgb(91, 199, 241);
    background-color: white;
}

.icon-menu {
    padding: 0px 70px;
}

